{{ 'component-product-icons.css' | asset_url | stylesheet_tag }}

{% for block in section.blocks %}
  {% assign b = block.settings %}
  {% assign type = product.type | downcase %}
  {% if b.product_tag contains type %}
    <section class="pdp-icon">
      <div class="page-width">
        <div class="pdp-icon__grid">
          <article
            {{ block.shopify_attributes }}
            class="pdp-icon__item"
          >
            {% if b['icon-image-a'] %}
              <img loading="lazy" width="80" height="80" src="{{ b.icon-image-a | img_url: '80x80' }}">
            {% endif %}
            {% if b['icon-title-a'] %}
              <h4 class="custom-center-all">{{ b['icon-title-a'] }}</h4>
            {% endif %}
            {% if b['icon-text-a'] %}
              <p class="custom-center-all">{{ b['icon-text-a'] }}</p>
            {% endif %}
          </article>
          <article class="pdp-icon__item">
            {% if b['icon-image-b'] %}
              <img loading="lazy" width="80" height="80" src="{{ b.icon-image-b | img_url: '80x80' }}">
            {% endif %}
            {% if b['icon-title-b'] %}
              <h4 class="custom-center-all">{{ b['icon-title-b'] }}</h4>
            {% endif %}
            {% if b['icon-text-b'] %}
              <p class="custom-center-all">{{ b['icon-text-b'] }}</p>
            {% endif %}
          </article>
          <article class="pdp-icon__item">
            {% if b['icon-image-c'] %}
              <img loading="lazy" width="80" height="80" src="{{ b.icon-image-c | img_url: '80x80' }}">
            {% endif %}
            {% if b['icon-title-c'] %}
              <h4 class="custom-center-all">{{ b['icon-title-c'] }}</h4>
            {% endif %}
            {% if b['icon-text-c'] %}
              <p class="custom-center-all">{{ b['icon-text-c'] }}</p>
            {% endif %}
          </article>
          <article class="pdp-icon__item">
            {% if b['icon-image-d'] %}
              <img loading="lazy" width="80" height="80" src="{{ b.icon-image-d | img_url: '80x80' }}">
            {% endif %}
            {% if b['icon-title-d'] %}
              <h4 class="custom-center-all">{{ b['icon-title-d'] }}</h4>
            {% endif %}
            {% if b['icon-text-d'] %}
              <p class="custom-center-all">{{ b['icon-text-d'] }}</p>
            {% endif %}
          </article>
        </div>
      </div>
    </section>
    {% break %}
  {% endif %}
{% endfor %}

{% schema %}
{
  "name": "PDP Icons",
  "blocks": [
    {
      "name": "Icons per collection",
      "type": "Hero",
      "settings": [
        {
          "type": "textarea",
          "id": "product_tag",
          "label": "Product Type"
        },
        {
          "type": "image_picker",
          "id": "icon-image-a",
          "label": "Choose an image"
        },
        {
          "type": "text",
          "id": "icon-title-a",
          "label": "Icon Name"
        },
        {
          "type": "textarea",
          "id": "icon-text-a",
          "label": "Icon Description"
        },
        {
          "type": "image_picker",
          "id": "icon-image-b",
          "label": "Choose an image"
        },
        {
          "type": "text",
          "id": "icon-title-b",
          "label": "Icon Name"
        },
        {
          "type": "textarea",
          "id": "icon-text-b",
          "label": "Icon Description"
        },
        {
          "type": "image_picker",
          "id": "icon-image-c",
          "label": "Choose an image"
        },
        {
          "type": "text",
          "id": "icon-title-c",
          "label": "Icon Name"
        },
        {
          "type": "textarea",
          "id": "icon-text-c",
          "label": "Icon Description"
        },
        {
          "type": "image_picker",
          "id": "icon-image-d",
          "label": "Choose an image"
        },
        {
          "type": "text",
          "id": "icon-title-d",
          "label": "Icon Name"
        },
        {
          "type": "textarea",
          "id": "icon-text-d",
          "label": "Icon Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "PDP Icons",
      "category": "Advanced Layout"
    }
  ]
}
{% endschema %}
