{{ 'component-product-image-text.css' | asset_url | stylesheet_tag }}

{% for block in section.blocks %}
  {% assign b = block.settings %}
  {% assign type = product.type | downcase %}
  <!-- {{ type }} -->
  {% if b.product_tag contains type %}
    <section class="page-width">
      <div id="product-image-text" class="product-recommendations__inner gray-divider">
        <h3 class="main-title custom-center-all">{{ b['main-title'] }}</h3>
        <div class="image-text-list">
          <article class="article-feat article-cols">
            <div class="article-text">
              <h2>{{ b['star-title-a'] }}</h2>
              <p>{{ b['star-text-a'] }}</p>
            </div>
            <figure class="article-figure">
              <img
                loading="lazy"
                width="600"
                height="400"
                src="{{ b.star-image-a | img_url: '600x400' }}"
                class="article-img"
              >
            </figure>
          </article>
          <article class="article-feat article-feat-two article-cols">
            <figure class="article-figure">
              <img
                loading="lazy"
                width="600"
                height="400"
                src="{{ b.star-image-b | img_url: '600x400' }}"
                class="article-img"
              >
            </figure>
            <div class="article-text">
              <h2>{{ b['star-title-b'] }}</h2>
              <p>{{ b['star-text-b'] }}</p>
            </div>
          </article>
        </div>
      </div>
    </section>
    {% break %}
  {% endif %}
{% endfor %}

{% schema %}
{
  "name": "PDP Content Image",
  "blocks": [
    {
      "name": "Feature per collection",
      "type": "Hero",
      "settings": [
        {
          "type": "textarea",
          "id": "product_tag",
          "label": "Product Type"
        },
        {
          "type": "text",
          "id": "main-title",
          "label": "Main Title"
        },
        {
          "type": "image_picker",
          "id": "star-image-a",
          "label": "Choose an image"
        },
        {
          "type": "text",
          "id": "star-title-a",
          "label": "Feature title 1"
        },
        {
          "type": "textarea",
          "id": "star-text-a",
          "label": "Feature Description 1"
        },
        {
          "type": "image_picker",
          "id": "star-image-b",
          "label": "Choose an image"
        },
        {
          "type": "text",
          "id": "star-title-b",
          "label": "Feature title 2"
        },
        {
          "type": "textarea",
          "id": "star-text-b",
          "label": "Feature Description 2"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "PDP Content Image",
      "category": "Advanced Layout"
    }
  ]
}
{% endschema %}
